@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  cursor: wait;
}

svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

path {
  fill: #141516;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .button {
    position: fixed;
    right: 0;
    margin: 20px;
    z-index: 2;
    width: 60px;
    height: 60px;
    background-color: #fe6452;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .burger {
    width: 100%;
  }

  .burger::after,
  .burger::before {
    content: "";
    display: block;
    width: 40%;
    background-color: white;
    height: 1px;
    margin: auto;
    position: relative;
    transition: transform 0.3s;
  }

  .burger::after {
    top: -5px;
  }

  .burger::before {
    top: 5px;
  }

  .burger-active::after {
    top: -1px;
    transform: rotate(45deg);
  }

  .burger-active::before {
    top: 0px;
    transform: rotate(-45deg);
  }

  .menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    color: white;
    width: 50%;
  }

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    flex-direction: column;
    font-size: 56px;
    gap: 12px;
    margin-top: 80px;
  }

  .header {
    color: rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 40px;
  }

  .svgCurve {
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: rgb(255, 255, 255);
    stroke: none;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
